<% if @errors %>
	<%= @errors %>
<% end %>

<form action = "/urls" method = "post">
	Enter URL : 
	<input type = "text" name = "long_url">
	<input type = "submit" value = "Submit">
</form>

<!-- Print each short urls in your database -->
<% @urls.each do |url| %>
	<p><a href="<%= url.short_url %>">http://localhost:9393/<%= url.short_url %></a></p>
	<p><%= url.click_count %></p>
<% end %>

<!-- form action = "/short" method = "post">
	Enter URL : 
	<input type = "text" name = "short_url">
	<input type = "submit" value = "Submit">
</form> -->